# Ignore Gradle project-specific cache directory
.gradle
.idea
# Ignore Gradle build output directory
build/
/LOGS_IS_UNDEFINED/
/test/LOGS_IS_UNDEFINED/
/application/LOGS_IS_UNDEFINED/
/test/logs/
/logs/
